<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestDemp1">

	<listeners>
		<listener class-name="com.testDemo.utilities.Reporting" />
	</listeners>


	<test name="Test Demo">
		<parameter name="browser" value="chrome" />
		<classes>
			
			<class name="com.testDemo.testCases.TC_LoginDDT_002" />
		

		</classes>

	</test>

</suite>